.App {
  text-align: center;
  display: block;
  top: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  /* tra */
}

input {
  box-shadow: none;
  border: 1px solid #444;
  padding: 8px 4px;
  font-size: 16px;
}

button {
  margin: 4px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #444;
}

.selected {
  background-color: #444;
  color: #fff;
}
